<!DOCTYPE html>
  <title>Cambiar datos usuario</title>
    <!-- Ruta relativa del fichero de style (style.css) -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/cambiar-datos.css">
    {% endblock %}
  </head>
  
  <body>
    <div class="parte-central">
      <div class="titulo">
          <h1>
              Cambiar datos
          </h1>
          <div class="mensaje">
            <p>
              Al cambiar los datos se va a reiniciar la cuenta para que todo cargue bien.
            </p>
          </div>
      </div>

      <div class="datos_cambiar">
        <form action="cambiar-datos.php" method="POST">
          <div class="cambiar_un_dato"><label for="Nombre">Nombre</label><br>
          <input type="text" name="Nombre" placeholder="Introducir Nombre"/><br>

          <div class="cambiar_un_dato"><label for="Apellidos">Apellidos</label><br>
          <input type="text" name="Apellidos" placeholder="Introducir Apellidos"/><br>

          <div class="cambiar_un_dato"><label for="Email">Email</label><br>
          <input type="text" name="Email" placeholder="Introducir Email"/><br>

          <div class="cambiar_un_dato"><label for="Usuario">Usuario</label><br>
          <input type="text" name="Usuario" placeholder="Introducir Usuario"/><br>

          <div class="cambiar_un_dato"><label for="Contraseña">Contraseña</label><br>
          <input type="password" name="Contraseña" placeholder="Introducir Contraseña"/><br>
          
          <div class="boton_cambiar">
            <input type="submit" value="Cambiar datos" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>