<!DOCTYPE html>
    <head>	
        <title>Iniciar sesión/registrarse</title>
        <!-- Ruta relativa del fichero de style (style.css) -->
        {% block css %}
        <link rel="stylesheet" type="text/css" href="../static/css/registrar-usuarios.css">
        {% endblock %}
    </head>

    <body>
        <div class="parte-central">
            <div class="titulo">
                <h1>
                    Registro
                </h1>
            </div>

            <div class="datos_registar">
                <form action="registrar-usuarios.php" method="POST">
                    <div class="registrar_un_dato"><label for="Nombre">Nombre</label><br>
                    <input type="text" name="nombre" placeholder="Introducir nombre"></div>
                    
                    <div class="registrar_un_dato"><label for="Apellidos">Apellidos</label><br>
                    <input type="text" name="apellidos" placeholder="Introducir apellidos"></div>
                    
                    <div class="registrar_un_dato"><label for="Email">Correo</label><br>
                    <input type="text" name="email" placeholder="Introducir correo"></div>
                    
                    <div class="registrar_un_dato"><label for="Usuario">Usuario</label><br>
                    <input type="text" name="usuario" placeholder="Introducir usuario"></div>
                    
                    <div class="registrar_un_dato"><label for="Contraseña">Contraseña</label><br>
                    <input type="text" name="contrasena" placeholder="Introducir contraseña"></div>
                    
                    <div class="boton_registrar">
                        <input type="submit" value="Registarse" />
                    </div>
                </form>
            </div>            
        </div>
    </body>
</html>   
