<!DOCTYPE html>
  <title>Cambiar datos usuario</title>
    <!-- Ruta relativa del fichero de style (style.css) -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/añadir-etiqueta.css">
    {% endblock %}
  </head>
  
  <body>
    <div class="parte-central">
      <div class="titulo">
          <h1>
              Añadir etiqueta
          </h1>
      </div>

      <div class="etiquetas">
        <p>Etiquetas de este producto:</p>
        {% for i in etiquetas %}
          <p>* {{ i }}</p>
        {% endfor %}
      </div>

      <div class="datos_añadir">
        <form action="añadir-etiqueta.php" method="POST">
          <div class="añadir_un_dato"><label for="Nombre">Etiqueta</label><br>
          <input type="text" name="Etiqueta" placeholder="Introducir Etiqueta"/><br>
          
          <div class="boton_añadir">
            <input type="submit" value="Añadir etiqueta" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>