<!DOCTYPE html>
    <title>Cambiar permisos de usuario</title>
    <!-- Ruta relativa del fichero de style (style.css) -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/cambiar-datos.css">
    {% endblock %}
  </head>
  
  <body>
    <div class="parte-central">
      <div class="titulo">
          <h1>
              Gestión de permisos
          </h1>
      </div>
      

      <div class="datos_cambiar">
        <form action="gestion-permisos.php" method="POST">
          <div class="cambiar_un_dato"><label for="Usuario">Usuario</label><br>
          <input type="text" name="Usuario" placeholder="Introducir Usuario"/><br>

          <div class="cambiar_un_dato"><label for="Tipo">Tipo</label><br>
          <input type="text" name="Tipo" placeholder="Introducir Tipo"/><br>
        
          <div class="boton_cambiar">
            <input type="submit" value="Cambiar" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>